@import "tailwindcss";

:root {
  font-family: 'Inter';
  color-scheme: light dark;
  background-color: '#F2F2F2';
  /* background-color: rgba(0, 0, 0, 0.986); */
  /* background: linear-gradient(to right, black, #0f172a, black); */
}


html, body {
 overflow-x: hidden;
 background: #F2F2F2;
}


